<!DOCTYPE html>
<html>
<head>
    <title>Guess the plant</title>
</head>
<body>
    <h1>Enter Text and Upload Image</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="text_input">Enter Text:</label>
        <input type="text" id="text_input" name="text_input">

        <label for="image_input">Upload Image:</label>
        <input type="file" id="image_input" name="image_input">

        <input type="submit" value="Submit">
    </form>
</body>
</html>
